# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
